@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #a6a6a6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    background: url("../img/background/1.png");
     animation: slideBg 25s linear infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2B2B2BFF;
}

main{
    background: #a6a6a643;
    padding: 5vh 5vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
    color: #fff;
}
input{
    border: none;
    height: 25px;
    border-radius: 2px;
}

input:focus{
    outline: 3px solid rgba(63, 121, 234, 0.82);
}
button{
    border: none;
}

#calcular{
    cursor: pointer;
    background: #2e56da;
    padding: 10px;
    border-radius: 4px;
}

#calcular:hover{
    box-shadow:  0 0 0 2px #0a2c9e;
    background: #082fb1;
    transition: 1.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flex{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sexo{
    margin-top: 20px;
}

.sexo-radio{
    display: flex;
    align-items: center;
}

.sexo-radio label{
    margin-left: 10px;
}

.bnt-calc{
    margin-top: 15px;
}

#result{
    display: none;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    border: none;
    transition: 2s step-start;
}

fieldset > img{
    width: 50px;
}

@keyframes slideBg{
    0% {
        background: url('../img/background/1.png');
        animation-delay: 10s;
    }
    25% {
        background: url('../img/background/2.png');
    }
    50% {
        background: url('../img/background/3.png');
    }
    75% {
        background: url('../img/background/4.png');
    }
}